main{
background-color: #448C9A;
  weight:2000px;
  height: 2000px;
}
.nav{
  backgroug-color: #
}

.bg-blue{
  background-color: #F1F777;
}

.bg-yellow{
  background-color: #EE447F;
}

.altura-carrusel, .carousel-inner, .carousel-item{
  height: 100vh
}

.bg-terror{
    background-color: #857D7D;
    color: white

}
.bg-ciencia{
  background-color: #08B689;
}

.contenedor{
  display:flex ;
  justify-content: center;
  align-items: center;
}
